.bg-body-tertiary{
    background-color: #000000!important;
}
.navbar-brand,.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(200, 215, 28);
}
.btn{
    background-color: #4a4a4a;
    margin-bottom: 20px;
}
.navbar-nav{
    padding-left: 79%;
}
.btn,.col{
    color:  rgb(200, 215, 28);
}
.col{
    margin-right: 0;
    color: black;
    padding: 0px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.color{
    color: rgb(200, 215, 28);
}
.container-fluid{
    padding: 0;
}
.navbar-brand{
    padding-left: 10px;
}
.box2{
    background-color: rgb(200, 215, 28);
    color: black ;
}
.img{
    width: 70px;
    margin-bottom: 30px;
}

.img1{
    width: 400px;
    margin-bottom: 30px; 
}
.img2,.img3,.img4,.img5{
    width: 50px;
}
.box3{
    background-color: #000000;
    color: rgb(200, 215, 28);
    text-align: center;
}
.aca{
    text-align: center;
    margin-bottom: -10px;
}
.end{
    background-color: rgb(200, 215, 28);
    height: 200px;
}
  .a1 {
    position: relative;
    width: fit-content;
    left: 250px;
    top: 51px;
    color: rgb(0, 0, 0);
  }
  .a2 {
    position: relative;
    left: 350px;
    bottom: 30px;
    width: fit-content;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
  }
  .form-floating{
    position: relative 0;
    width: 400px;
    left: 40%;
    bottom: 110px;
  }
  .a3{
    position: relative;
    width: fit-content;
    left: 78%;
    bottom: 160px;
  }
  .container{
    height: 700px;
  }
  .img-fluid{
    height: 500px;
    margin-bottom: 100px;
    width: 330px;
  }
  #Saran{
    margin-bottom: 100px;
  }
  .box1{
    background-color: #000000;
  }
  #name{
    color: rgb(200, 215, 28);
    font-size: 50px;
    font-weight: bold;
  }
  #name2{
    color: rgb(200, 215, 28);
    font-size: 20px;
  }
 #record{
    color: #000000;
  }
  #ex3{
    color: rgb(200, 215, 28);
  }
  #Bx3{
    margin-bottom: 50px;
  }
  #homework{
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
  }
  h2{
    font-weight: bold;
    font-size: 40px;
  }
 #ca{
    margin-right: 20px;
    text-align: center;
 }
 .naverbercolor:hover{
font-weight: bold;
color: #b0fb02 !important;
background-color: #4a4a4a;
 }
 #bt:hover{
  font-weight: bold;
  color: #a6dd27 !important;
  background-color: #474343;
 }



